.home-view {
    .content {
        padding: 50px;
    }
    .title {
        font-weight: 700;
        font-size: 36px;
        font-style: normal;
        line-height: 42.19px;
    }
    .sub-title {
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
        line-height: 21.09px;
    }
    .user-list {
        margin-top: 40px;
    }
}